.wrapper {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.wrapper__search {
  width: 100%;
}

.wrapper__search label {
  width: 100%;
  margin: 0.8em 0;
}

.autocomplete {
  width: 100%;
  position: relative;
}

.autocomplete input {
  height: 55px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 40px 0 10px;
  font-size: 18px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 0.5em;
  transition: box-shadow 0.3s ease;
}

.autocomplete input:focus {
  outline: none;
  box-shadow: 0 0 0 4px #6b53fd52;
}

.hidden {
  display: none !important;
}

.autocomplete-optionNoResults {
  line-height: 22px;
  padding: 0.5em;
  display: block;
  border-bottom: 2px solid #718096;
  cursor: not-allowed;
  color: #e91e63;
}

#autocomplete-options--search {
  position: absolute;
  border-radius: 5px;
  margin: 0;
  margin-top: 2px;
  max-height: 12em;
  overflow-y: auto;
  font-size: 100%;
  padding: 0;
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  z-index: 2;
  border: 2px solid #bcbcbd;
}

.autocomplete [role=option] {
  line-height: 22px;
  padding: 0.5em;
  display: block;
  outline: 0;
  margin: 0;
  cursor: pointer;
}

.autocomplete [role=option]:hover,
.autocomplete [role=option][aria-selected=true] {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
}

.option-highlight {
  font-weight: bold;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 12em;
  padding: 1em 1.5em;
}

.history-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.3em;
}

.history-header__title {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}

.history-header__clear {
  font-weight: normal;
  font-size: 0.9em;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
}

#history {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#history li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0.6em 0.4em;
}

#history li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

#history li h3 {
  font-weight: normal;
  font-size: 0.9em;
}

.history-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-info p {
  font-size: 0.8em;
  color: #536471;
  margin-right: 1em;
}

.delete-history {
  cursor: pointer;
  font-size: 16px;
  padding: 0.1em;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-history span {
  font-size: 16px;
  padding: 0.5em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.delete-history span svg {
  fill: #536471;
}

.delete-history span:hover {
  background-color: rgba(249, 24, 128, 0.1);
}

.delete-history span:hover svg {
  fill: rgb(249, 24, 128);
}

#close-icon {
  position: absolute;
  top: 13px;
  right: 2px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#close-icon span {
  font-size: 16px;
  padding: 0.5em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

#close-icon span svg {
  fill: #536471;
}

#close-icon span:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

#close-icon span:hover svg {
  fill: rgb(29, 155, 240);
}

/* responsive positioning
------------------------------ */
@media all and (max-width: 480px) {
  .history-header__title {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
  }

  #history li h6 {
    font-size: 0.8em;
  }
}
